<!DOCTYPE html>
<html lang="es">
<head>

  <meta charset="UTF-8">
  <title>Productos</title>
  <link rel="stylesheet" type="text/css" href="/style/productos.css">
  <link rel="icon" type="image/x-icon" href="icon/televisores.png"/>
  
</head>
<body>

  <div id='botones'>
     <a id='botonProductos' href="/">Volver</a>
     <a href='/categorias' id='botonProductos'>Categorias</a>
  </div>
 
 <h1>Productos</h1>

    <table>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Codigo</th>
            <th>Precio</th>
            <th>Descripcion</th>
            <th>Calidad</th>
            <th>Cantidad</th>
            <th>Categoria</th>
            <th><a href="/add"><img src="/icon/agg.png" id='add'></a></th>
          </tr>
          <%for(const producto of modelo){%>
            <tr>
              <td><%=producto.producto_id%></td>
              <td><%=producto.nombre%></td>
              <td><%=producto.codigo%></td>
              <td><%=producto.precio%></td>
              <td><%=producto.descripcion%></td>
              <td><%=producto.calidad%></td>
              <td><%=producto.cantidad%></td>
              <td><%=producto.categoria_id%></td>
              <td class="icon">
              <a href="/update/<%= producto.producto_id%>"><img src="/icon/update.png" width="30"></a>
              <a href="/delete/<%= producto.producto_id%>"><img src="/icon/delete.png" width="30" id="delete"></a>
              <a href="/addImagen/<%= producto.producto_id%>">Imagen</a>
             </td>
            </tr>
           <%}%>
        </table>
       
  
 
</body>
</html>
